<!DOCTYPE html>
<html data-theme="light">
    <head>
        <title>Login page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="/styles/style.css">
    </head>

    <body>
        <main>
            <h2>Invalid or expired token</h2>
            <a href="/login"><h3>Go to Login page</h3></a>
            </form>
        </main>
    </body>
</html>

    
        