<!DOCTYPE html>
<html data-theme="light">
    <head>
        <title>Reset password page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="/styles/style.css">
    </head>

    <body>
        <div class="logo">
            <h2>ISSUE TRACKER SYSTEM</h2>
        </div>
        <form id="new-password-form" class="form" action="/new_password/<%= token %>" method="post">
            <div id="welcome-message">
                <p>Reset your password</p>
            </div>
            
            <label for="password">New password:</label>
            <br>
            <input id="password" type="password" placeholder="Enter the new password" name="new-password" required>
            <br>
            <br>
            <label for="password">Confirm the new password:</label>
            <br>
            <input id="password" type="password" placeholder="Confirm the new password" name="new-password2" required>
            <br>
            <br>
            <button id="submit-button" type="submit">Change password</button>
            <br>
            <br>
            <div id="error"><% if(messages.length > 0){ %>
                <p id="error-message"><%= messages %></p>
                                    <% } %>
            </div>
        </form>
    </body>
</html>