<!DOCTYPE html>
<html data-theme="light">
    <head>
        <title>Confirmation new password page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="/styles/style.css">
    </head>

    <body>
        <div class="logo">
            <h2>ISSUE TRACKER SYSTEM</h2>
        </div>
        <form id="new-password-confirm-form" class="form" action="/new_password_confirmation" method="post">
            <p id="message">You have changed your password successfully!</p>
            <p id="message">Please, click the “Continue” button, 
                in order to continue your experience with our Issue tracker system!</p>

            <button id="submit-button" type="submit">Continue</button>
            <br>
            <br>
            <div id="error"><p id="error-message"></p></div>
        </form>
    </body>
</html>