<!DOCTYPE html>
<html data-theme="light">
    <head>
        <title>Verification email page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="/styles/style.css">
    </head>

    <body>
        <div class="logo">
            <h2>ISSUE TRACKER SYSTEM</h2>
        </div>
        <form id="new-account-verif-form" class="form" action="" method="post">
            <p id="message">We have sent you an email message, in order to
                verify your email and finish your sign up process 
            </p>
        </form>
    </body>
</html>