<!DOCTYPE html>
<html data-theme="light">
    <head>
        <title>Project Dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="./styles/style.css">
        <script defer src="./script/addTicketPopup.js"></script>
    </head>

    <body>
        <nav class="nav-bar">
            <div id="name">Georgi Tsekov<!-- или име на проект<%= firstName %> <%= lastName %>--></div>
            <div id="right-part-nav-bar">
                <form id="home" action='/index' method="post">
                    <button class="button" id="home" type="submit">Home</button>
                </form>
                <form id="logout" action='/logout' method="post">
                    <button class="button" id="logout" type="submit">Log out</button>
                </form>
            </div>
        </nav>

        <main class="main-window">
            <!-- <button class="button" id="filter-button">Filter</button>  moje s div i w nego checkbox i searchbox-ove-->
            <div class="tickets-status">
                <div class="issue-container">
                    <h2 class="status-title">Open</h2>
                    <ul class="issue-list" id="open"></ul>
                </div>
                <div class="issue-container">
                    <h2 class="status-title">In Progress</h2>
                    <ul class="issue-list" id="in-progress"></ul>
                </div>
                <div class="issue-container">
                    <h2 class="status-title">Cancelled</h2>
                    <ul class="issue-list" id="cancelled"></ul>
                </div>
                <div class="issue-container">
                    <h2 class="status-title">Done</h2>
                    <ul class="issue-list" id="done"></ul>
                </div>
            </div>
            <div class="nav-buttons">
                <div id="left-buttons">
                    <form id="view_by_assignee" action='/view_by_assignee' method="post">
                        <button class="button" id="left-button" type="submit">View by Assignee</button>
                    </form>
                    <form id="view_by_project" action='/view_by_project' method="post">
                        <button class="button" id="left-button" type="submit">View by Project</button>
                    </form>
                </div>
                <div id="add-ticket-btn">
                <!-- <form id="add_ticket" action='/project_dashboard' method="post"> <!-- action='/add_ticket' onclick="openAddTicketForm()"-->
                <button class="button" id="add-ticket-button" onclick="openAddTicketForm()">+ Add ticket</button>
                <!--</form> -->
                </div>
            </div>

            <div class="form-popup" id="add-ticket-popup">
                <form id="add-ticket-popup-form" action='/add_ticket' method="post">
                    <h2>Add Ticket:</h2>
                        <div id="pop-up-left-part">
                            <label>Ticket name:
                                <br>
                                <input type="text" class="add-ticket-input-field" id="ticket-name" placeholder="Enter ticket name" name="name" required>
                            </label>
                            <br>
                            <label>Description:
                                <br>
                                <textarea id="summary" name="summary" rows="6" cols="55" placeholder="Enter the description of the ticket you want to add"></textarea>
                            </label>
                            <br>
                            <label>Summary:
                                <br>
                                <textarea id="summary" name="summary" rows="3" cols="55" placeholder="Enter the summary of the ticket you want to add"></textarea>
                            </label>
                        </div>
                        <br>
                        <div id="pop-up-right-part">
                            <label>Priority:
                                <select id = "priority" name="priority" required>
                                    <option>Lowest</option>
                                    <option>Low</option>
                                    <option>Medium</option>
                                    <option>High</option>
                                    <option>Highest</option>
                                    <option>None</option>
                                </select> 
                            </label>
                            <br>
                            <label>Status:
                                <select id = "status" name="status" required>
                                    <option>Open</option>
                                    <option>In Progress</option>
                                    <option>Cancelled</option>
                                    <option>Done</option>
                                </select>
                            </label>
                            <br>
                            <label>Created on:
                                <input type="date" id="created-on" name="createdOn" required>
                            </label>
                            <br>
                            <label>Created by:
                                <input type="text" id="created-by" name="createdBy" required> <!-- виж спрямо модела дали ще стане щото ако вкарам цял user (с required полетата) как ще стане с това поле. По-скоро можем само firstname i имейл адрес i pri post zaqwkata da prawim walidaciq za dannite dali gi ima v bazata-->
                            </label>
                            <br>
                            <label>Start date:
                                <input type="date" id="start-date" name="startDate">
                            </label>
                            <br>
                            <label>Target end-date:
                                <input type="date" id="start-date" name="startDate">
                            </label>
                            <br>
                            <label>Actual end-date:
                                <input type="date" id="start-date" name="startDate">
                            </label>
                            <br>
                            <label>Assignees: <!-- moje kato variant da se izbere ili napi[e brojkata i sled tova sprqmo brojkata da 
                                            da se izkarat nqkolko poleta, w koito da se napishat imenata na horata, drg variant e da go mahnemi veski ot ekipa da bara
                                        po vsichki bileti i te vutre[no da se razberat koe da wzemat]-->
                            </label>
                        </div>
                    <br>
                    <br>
                    <button class="button" id="cancel-button" onclick="closeForm()">Cancel</button> <!-- onclick="closeForm()" //moje tozi buton da nqma fon и с този фоноw цwят да сложa border-color-->
                    <button class="button" id="add-ticket-button" type="submit">Add ticket</button>
                </form>
            </div>

        </main>
    </body>
</html>