<!DOCTYPE html>
<html data-theme="light">
    <head>
        <title>Sign up page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="./styles/style.css">
        <!--<script defer src="/script/registerForm.js"></script>-->
    </head>

    <body>
        <div class="logo">
            <h2>ISSUE TRACKER SYSTEM</h2>
        </div>
        <form id="register-form" class="form" action="/signup" method="post" > <!--onSubmit="return validateRegisterForm()">-->
            <div id="welcome-message">
                <p>Create your account!</p>
            </div>

            <label for="user-name">Username:</label>
            <br>
            <input id="user-name" type="text" placeholder="Enter your username" name="username" required>
            <br>
            <br>
            <label for="first-name">First name:</label>
            <br>
            <input id="first-name" type="text" placeholder="Enter your first name" name="firstName" required>
            <br>
            <br>
            <label for="last-name">Last name:</label>
            <br>
            <input id="last-name" type="text" placeholder="Enter your last name" name="lastName" required>
            <br>
            <br>
            <label for="email">Email:</label>
            <br>
            <input id="email" type="text" placeholder="Enter email address" name="email" required>
            <br>
            <br>
            <label for="password">Password:</label>
            <br>
            <input id="password" type="password" placeholder="Enter password" name="password" required>
            <br>
            <br>
            <label for="password">Confirm password:</label>
            <br>
            <input id="password2" type="password" placeholder="Enter password" name="password2" required>
            <br>
            <br>
            <input id="checkbox" type="checkbox" required>
            <label for ="checkbox">I agree all terms & conditions</label>
            <br>
            <br>
            <button id="submit-button" type="submit">Create</button>
            <p id="message">Already registered? <a href="/login"><strong id="text-click-other-page">Sign in</strong></a></p>
            <br>
            <div id="error"><% if (messages.length > 0) { %>
                <p id="error-message"><%= messages %></p>
                                    <% } %>
            </div>
            <!--<div id="error"><% if (messages && messages.length > 0) { %>
                                <% for (var i=0; i<messages.length; i++) { %>
                                    <%= messages[i] %><br>
                                <% } %>
                            <% } %></div>-->
            <!--<div id="error"><p id="error-message"></p></div>-->
        </form>
    </body>
</html>