:root[data-theme="light"]{
    --logo-color: #000000;

    --body-background-color: #F6F5F5;

    --h2-color: #276678;

    --form-color: #D3E0EA;

    --welcome-message-color: #878787;

    --label-color: #000000;

    --input-box-background-color: #ffffff;
    --input-box-text-color: #000000;

    --submit-button-color: #276678;
    --submit-button-text-color: #ffffff;
    --submit-button-border-color: #276678;

    --checkbox-text-color: #000000;
    --checkbox-box-color: #ffffff;

    --text-click-other-page-color: #276678;

    --cancel-button: #276678;
    --add-ticket-popup-border-color: #276678;

}

:root[data-theme="dark"]{
    --logo-color: #ffffff;

    --body-background-color: #181818;

    --h2-color: #ffffff;

    --form-color: #212121;

    --welcome-message-color: #878787;

    --label-color: #ffffff;

    --input-box-background-color: #3D3D3D;
    --input-box-text-color: #ffffff;

    --submit-button-color: #3D3D3D;
    --submit-button-text-color: #ffffff;
    --submit-button-border-color: #3D3D3D;

    --checkbox-box-color: #3D3D3D;

    --text-click-other-page-color: #AAAAAA;

    --cancel-button: #F6F5F5;
    --add-ticket-popup-border-color: #3D3D3D;
}

/*------------------- LOGIN & REGISTER FORM ------------------------*/

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: var(--h2-color);
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
    color: var(--logo-color);
}

body {
    background-color: var(--body-background-color);
}

.form {
    background-color: var(--form-color);
    border-radius: 10px;
    width: 300px;
    margin: auto;
    padding: 10px 50px;
}

#welcome-message {
    color: var(--welcome-message-color);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

#submit-button {
    background-color: var(--submit-button-color);
    border-color: var(--submit-button-border-color);
    color: var(--submit-button-text-color);
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

label {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: var(--label-color);
    padding: 2px;
}

#email, #password, #password2, #first-name, #last-name, #new-password, #new-password2 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding: 5px;
    width: 95%;
    background-color: var(--input-box-background-color);
    border-color: var(--input-box-background-color);
    color: var(--input-box-text-color);
    border-radius: 5px;
}

a:link, #text-click-other-page {
    font-family: 'Poppins', sans-serif;
    color: var(--text-click-other-page-color);
    text-decoration: none;
    padding-left: 2px;
}

#message {
    font-family: 'Poppins', sans-serif;
    color: var(--logo-color);
}

#checkbox {
    background-color: var(--checkbox-box-color);
    accent-color: var(--checkbox-box-color);
}

#error {
    display: block;
}
#error-message {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #FF0000;
}

/*----------------DASHBOARD (VIEW TICKETS BY STATUS - OPEN, IN PROGRESS, CANCELLED, DONE)----------------------------*/

.main-window {
    background-color: var(--body-background-color);
}

.nav-bar {
    background-color: var(--form-color);
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px 8px 8px;
}

#name {
    font-family: 'Poppins', sans-serif;
    color: var(--text-click-other-page-color);
    text-decoration: none;
    padding-left: 10px;
    text-align: left;
    font-size: 15px;
}

#right-part-nav-bar {
    display: flex;
}

#logout, #home {
    margin-left: 5px;
}
/*
#home-icon{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    fill: var(--text-click-other-page-color);
    width: 25px;
    height: 25px;
    position: relative;
}*/

.icon {
    fill: var(--text-click-other-page-color);
    width: 25px;
    height: 25px;
    padding-bottom: 10px;
}

.button {
    background-color: var(--submit-button-color);
    border-color: var(--submit-button-border-color);
    color: var(--submit-button-text-color);
    padding: 8px 8px 8px 8px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.tickets-status {
    display: flex;
    align-items: flex-start;
    /*padding: 0 0.8rem 0.8rem; */
    align-items: center;
    justify-content: center;
}
  
.issue-container {
    display: flex;
    flex: 0 0 19rem;
    flex-direction: column;
    background-color: var(--form-color);
    overflow: hidden;
    padding: 1.4rem 0.8rem;
    margin-right: 0.8rem;
    border-radius: 0.8rem;
    box-shadow: 0px 2px 2px 0px gray;
  }
  
.list-title {
    text-align: center;
    color: #333;
    margin: 1rem 0;
}

.issue-list {
    display: flex;
    flex-direction: column;
    background-color:  var(--body-background-color);
    max-height: calc(100vh - 13rem);
    overflow-y: auto;
    min-height: 250px;
    padding: 0.3rem 0.5rem;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.status-title {
    font-family: 'Poppins', sans-serif;
    color: var(--text-click-other-page-color);
    text-decoration: none;
    padding-left: 2px;
    text-align: center;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#left-buttons {
    display: flex;
}

#left-button {
    margin-left: 5px;
}

@media (max-width: 1350px) {
    .tickets-status {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    .issue-container{
        margin-top: 15px;
    }
}

@media (max-width: 1024px) {
    .tickets-status {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    .issue-container{
        margin-top: 15px;
    }

}

@media (max-width: 800px) {
    .tickets-status {
      display: grid;
      grid-template-columns: 1fr;
    }
    .issue-container{
        margin-top: 15px;
    }
}

/* ADD TICKETS POP-UP */

.form-popup {
    display: none;
    border: 3px solid;
    border-radius: 10px;
    border-color: var(--add-ticket-popup-border-color);
    margin: 8px;
}

#add-ticket-popup-form {
    margin: 8px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

/*...*/

#cancel-button {
    background-color: var(--body-background-color);
    border-color: var(--submit-button-color);
    color: var(--cancel-button);
}
